<Plugin python>
  ModulePath "/opt/collectd/share/collectd"
  Import "collectd-haproxy"

  <Module "collectd-haproxy">
    Socket "{{ socket_file }}"
    {% for proxy in proxies %}
    ProxyMonitor "{{ proxy }}}"
    {% endfor %}
  </Module>
</Plugin>
